/* Identifica padroes no website */

h1, h2, h3{
    font-family: 'Sora', sans-serif;
    line-height: 125%;
    letter-spacing: -1px;
    font-weight: 600;
    color: var(--white);
}

h1{
    font-size: 4.8rem;
    color: var(--grey-colors-100);
    /* apenas 1 por pagina */
}

h2{
    font-size: 3.2rem;
    /* dois por section */
}

h3{
    font-size: 2.4rem;
    /* sem limite na pagina */
}
.btn-primary {
    display: inline-block;
    background-color: var(--brand-colors-pink);
    padding: 1.2rem 3.4rem;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    letter-spacing: -0.01em;
    color: var(--grey-colors-100);
}   
.menu-item{
    display: inline-block;
    background-color: var(--white-smoke-colors);
    padding: 1.2rem 2.4rem;
    font-family: Sora;
    font-size: 15px;
    line-height: 105%;
    letter-spacing: -0.01em;
    color: var(--grey-colors-400);
}