*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}
html{
    font-size: 62.5%;
    /* 1.6rem = 16px */
    scroll-behavior: smooth;
    scroll-padding: 5.5rem auto;
}
img{
    max-width: 100%;
    display: block;
}
button{
    cursor: pointer;
}
