*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
html{
    font-size: 62.5%;
    /* 1.6rem = 16px */
}
img{
    max-width: 100%;
    display: block;
}
button{
    background-color: transparent;
    cursor: pointer;
}
