@media (max-width: 1200px){
    .s-hero .text{
        max-width: 49%;
    }
    .s-card-featured .all-cards{
        width: 100%;
    }
    .s-card-featured .all-cards .card{
        width: 31%;
    }
    .s-card-featured .second-area .all-imgs{
        gap: 2rem 2%;
    }
    .s-card-featured .second-area .all-imgs .image{
        width: 23.5%;
    }
    footer main nav{
        max-width: 63rem;
    }

}
@media (max-width: 991px){
    header nav{
        
    }
    header .menu-mobile{
        display: block;
    }
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    } 
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    .s-hero .container{
        flex-direction: column;
    }
    .s-hero .text{
        max-width: 90%;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .s-hero .text h1, p{
        text-align: center;
    }
    .s-card-featured .all-cards{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .s-card-featured .all-cards .card{
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 3rem;
        margin-bottom: 2rem;
    }
    .s-card-featured .all-cards .card:last-child{
        margin-bottom: 0rem;
    }
    .s-card-featured .all-cards .card .info{
        max-width: 100%;
        margin-top: 2rem;
    }
    footer main nav{
        max-width: 45rem;
    }
}
@media (max-width: 768px){
    footer main{
        flex-direction: column;
        align-items: center;
    }
    footer main .area-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }
    footer main .area-left p{
        text-align: center;
    }
    footer main nav{
        max-width: 100%;
    }
}
@media (max-width: 600px){
    .s-card-featured .second-area .top{
        flex-direction: column;
        align-items: center;
    }
    .s-card-featured .second-area .top .title h2,
    .s-card-featured .second-area .top .title p{
        text-align: center;
    }
    .s-card-featured .second-area .top .title h2{
        margin-bottom: 0.8rem;
    }
    .s-card-featured .second-area .top .title{
        margin-bottom: 2rem;
    }
}
@media (max-width: 480px){ /* Phone Style */ 
    html{
        font-size: 55% !important;
    }
    header .logo{
        max-width: 130px;
    }
    .s-hero{
        padding: 4rem 0px;
    }
    h1{
        font-size: 4.2rem;
    }
    .s-hero .text p{
        margin-bottom: 3rem;
    }
    .s-hero .image{
        height: 30rem;
    }
    .s-hero .image img{
        max-width: 100px;
    }
    .s-card-featured{
        padding: 4rem 0rem;
    }
    .s-card-featured .title p{
        max-width: 80%;
        text-align: center;
    }
    .s-card-featured .main-area{
        padding-bottom: 4rem;
    }
    .s-card-featured .second-area{
        margin-top: 4rem;
    }
    .s-card-featured .second-area .all-imgs .image{
        width: 49%;
    }
    .s-card-featured .second-area .all-imgs{
        gap: 1rem 2%;
    }
    .s-card-featured .second-area .top .title p {
        margin: 0 auto; /* in case text align center is not working */
    }
    .s-card-featured .second-area .top{
        margin-bottom: 3rem;
    }
    .s-newsletter{
        padding: 4rem 0;
    }
    footer{
        padding: 4rem 0rem;
    }
    footer main{
        padding-bottom: 4rem;
    }
    footer .copy{
        flex-direction: column;
    }
    footer .copy p{
        margin-bottom: 20px;
    }
    footer main nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer main nav .item{
        margin-bottom: 4rem;
    }
    footer main nav .item:last-child{
        margin-bottom: 0rem;
    }
    footer main nav .item ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}