/* Style Header */
header{
    width: 100%;
    background-color: var(--grey-colors-800);
    height: 8.8rem;
    display: flex;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    display: flex;
    align-items: center;
}
header nav ul{
    display: flex;
    margin-right: 3.2rem;
}
header nav .btn-primary{
    padding: 0.9rem 3.4rem;
}
header nav ul li{
    margin-left: 3.2rem;
}
header nav ul li:first-child{
    margin-left: 0rem;
}
header nav ul li:last-child{
    margin-right: 0rem;
}
header .menu-mobile{
    display: none;
}

/* Style Section Hero */
section.s-hero{
    padding: 7.2rem 0rem;
}
.s-hero .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s-hero .text{
    width: 100%;
    max-width: 64rem;
}
.s-hero .image{
    width: 100%;
    max-width: 48.8rem;
    height: 49.6rem;
    background-color: var(--grey-colors-800);
    display: flex;
    align-items: center; /* relacao altura */
    justify-content: center; /* relacao ao width */
}
.s-hero .text h1{
    margin-bottom: 2rem;
}
.s-hero .text p{
    margin-bottom: 5.6rem;
    max-width: 48.8rem;
    color: var(--grey-colors-300);
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    line-height: 150%;
}
.s-hero .text .btn-primary{
    padding: 1.7rem 3.7rem;
}
