/* Style Header */
header{
    width: 100%;
    background-color: var(--grey-colors-800);
    height: 8.8rem;
    display: flex;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    display: flex;
    align-items: center;
}
header nav ul{
    display: flex;
    margin-right: 3.2rem;
}
header nav .btn-primary{
    padding: 0.9rem 3.4rem;
}
header nav ul li{
    margin-left: 3.2rem;
}
header nav ul li:first-child{
    margin-left: 0rem;
}
header nav ul li:last-child{
    margin-right: 0rem;
}
header .menu-mobile{
    display: none;
}

/* Style Section Hero */
section.s-hero{
    padding: 7.2rem 0rem;
}
.s-hero .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s-hero .text{
    width: 100%;
    max-width: 64rem;
}
.s-hero .image{
    width: 100%;
    max-width: 48.8rem;
    height: 49.6rem;
    background-color: var(--grey-colors-800);
    display: flex;
    align-items: center; /* relacao altura */
    justify-content: center; /* relacao ao width */
}
.s-hero .text h1{
    margin-bottom: 2rem;
}
.s-hero .text p{
    margin-bottom: 5.6rem;
    max-width: 48.8rem;
    color: var(--grey-colors-300);
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    line-height: 150%;
}
.s-hero .text .btn-primary{
    padding: 1.7rem 3.7rem;
}

/* Style Section Card Featured */
.s-card-featured{
    padding-top: 10.4rem;
    padding-bottom: 12rem;
    background-color: var(--grey-colors-100);
}
.s-card-featured .main-area{
    border-bottom: 1px solid rgba(255, 255, 255, 0.247);
    padding-bottom: 12.5rem;
}
.s-card-featured .title{
    display: flex;
    flex-direction: column;
}
.s-card-featured .title p{
    margin-top: 0.8rem;
}
.center{
    align-items: center;
}
.s-card-featured p{
    color: var(--white-colors-text);
}
.s-card-featured .all-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 4.8rem;
}
.s-card-featured .all-cards .card{
    background-color: rgba(28, 29, 31, 0.5);
    width: 100%;
    max-width: 384px;
    height: 382px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.4rem;
}
.s-card-featured .all-cards .card .info{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 28.8rem;
}
.s-card-featured .all-cards .card .info h3{
    text-align: center;
}
.s-card-featured .all-cards .card .info p{
    text-align: center;
    margin-top: 0.8rem;
    line-height: 150%;
}
.s-card-featured .all-cards .card.white{
    background-color: white;
}
.s-card-featured .all-cards .card.white h3{
    color: var(--grey-colors-100);
}
.s-card-featured .all-cards .card.white p{
    color: var(--grey-colors-300);
}
.s-card-featured .second-area{
    margin-top: 12.2rem;
}
.s-card-featured .second-area .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.4rem;
}
.s-card-featured .second-area .all-imgs{
    display: flex;
    flex-wrap: wrap; /* quebra o elemento baseado na width do elemento e do pai */
    gap: 32px; /* espaco entre os elementos */
}
.s-card-featured .second-area .all-imgs .image{
    background-color: var(--grey-colors-200);
    width: 17.6rem;
    height: 11.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style Section Newsletter */

.s-newsletter{
    background-color: var(--grey-colors-200);
    padding: 15.2rem 0px;
}
.s-newsletter .container{ 
    /* porque o container envolve todo o conteudo e tem que pensar que e o ultimo elemento envolvendo o conteudo pai */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s-newsletter .container h2{
    margin-bottom: 2rem;
    text-align: center;
}
.s-newsletter .container p{
    text-align: center;
    max-width: 694px;
    color: var(--white-colors-text);
    margin-bottom: 4rem;
}
.s-newsletter .container .btn-primary{
    padding: 1.8rem 4.1rem;
}

/* Style Footer */
footer{
    background-color: var(--grey-colors-100);
    padding-top: 8.8rem;
    padding-bottom: 3.9rem;
}
footer main{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 7.2rem;
}
footer main .area-left{
    max-width: 28.1rem;
}
footer main .area-left img{
    padding-bottom: 3.5rem;
    color: #FFF;
}
footer main .area-left p{
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    line-height: 150%;
    color: var(--white-colors-text);
}
footer main nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 77.7rem;
}
footer main nav .item h6{
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    line-height: 125%;
    /* identical to box height, or 20px */
    letter-spacing: -1px;
    color: var(--white);
    margin-bottom: 2.4rem;
}
footer main nav .item ul li{
    margin-bottom: 3.2rem;
}
footer main nav .item ul li a{
    font-family: 'Sora', sans-serif;
    font-size: 1.4rem;
    line-height: 105%;
    color: var(--white-colors-text);
}
footer main nav .item ul li:last-child{
    margin-bottom: 0rem;
}
footer main nav .item:last-child ul li a{
    display: flex;
    align-items: center;
}
footer main nav .item:last-child ul li a span{
    margin-left: 8px;
}
footer .copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}
footer .copy p{
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    line-height: 150%;  
    color: var(--white-colors-text);
}
footer .copy .group{
    display: flex;
}
footer .copy .group span{
    color: var(--white-colors-text);
    margin-right: 0.8rem;
}