/* Style Header */
header{
    width: 100%;
    background-color: var(--grey-colors-800);
    height: 8.8rem;
    display: flex;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    display: flex;
    align-items: center;
}
header nav ul{
    display: flex;
    margin-right: 3.2rem;
}
header nav .btn-primary{
    padding: 0.9rem 3.4rem;
}
header nav ul li{
    margin-left: 3.2rem;
}
header nav ul li:first-child{
    margin-left: 0rem;
}
header nav ul li:last-child{
    margin-right: 0rem;
}
header .menu-mobile{
    display: none;
}

/* Style Section Hero */
section.s-hero{
    padding: 7.2rem 0rem;
}
.s-hero .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s-hero .text{
    width: 100%;
    max-width: 64rem;
}
.s-hero .image{
    width: 100%;
    max-width: 48.8rem;
    height: 49.6rem;
    background-color: var(--grey-colors-800);
    display: flex;
    align-items: center; /* relacao altura */
    justify-content: center; /* relacao ao width */
}
.s-hero .text h1{
    margin-bottom: 2rem;
}
.s-hero .text p{
    margin-bottom: 5.6rem;
    max-width: 48.8rem;
    color: var(--grey-colors-300);
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    line-height: 150%;
}
.s-hero .text .btn-primary{
    padding: 1.7rem 3.7rem;
}

/* Style Section Card Featured */
.s-card-featured{
    padding-top: 10.4rem;
    padding-bottom: 12rem;
    background-color: var(--grey-colors-100);
}
.s-card-featured .main-area{
    border-bottom: 1px solid rgba(255, 255, 255, 0.247);
    padding-bottom: 12.5rem;
}
.s-card-featured .title{
    display: flex;
    flex-direction: column;
}
.s-card-featured .title p{
    margin-top: 0.8rem;
}
.center{
    align-items: center;
}
.s-card-featured p{
    color: var(--white-colors-text);
}
.s-card-featured .all-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 4.8rem;
}
.s-card-featured .all-cards .card{
    background-color: rgba(28, 29, 31, 0.5);
    width: 100%;
    max-width: 384px;
    height: 382px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.4rem;
}
.s-card-featured .all-cards .card .info{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 28.8rem;
}
.s-card-featured .all-cards .card .info h3{
    text-align: center;
}
.s-card-featured .all-cards .card .info p{
    text-align: center;
    margin-top: 0.8rem;
    line-height: 150%;
}
.s-card-featured .all-cards .card.white{
    background-color: white;
}
.s-card-featured .all-cards .card.white h3{
    color: var(--grey-colors-100);
}
.s-card-featured .all-cards .card.white p{
    color: var(--grey-colors-300);
}
.s-card-featured .second-area .all-imgs{
    display: flex;
}