:root{
    --brand-colors-pink: #F67ACB;
    --grey-colors-100: #050110;
    --grey-colors-300: #393C40;
    --grey-colors-400: #5C6066;
    --white-smoke-colors: #E6EBF2;
    --white-colors-text: rgba(255, 255, 255, 0.7);
    --white: #FFFFFF;
    --grey-colors-800: #F7F8FA;
}